@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}
.classes {
  background-color: black;
  color: white; /* Optional: If you want the text to be white for better contrast */
  min-height: 100vh;
}
