.button {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 22%;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

.button.selected {
  background-color: gold;
  color: black;
  font-weight: 700;
}

.button:hover {
  background-color: gold;
  color: black;
}
